node_modules/
.git/
.expo/
**/*.log
/android
android/.gradle/
android/.idea/
**/dist/
**/build/
*.keystore
*.tar.gz
*.zip
*.DS_Store
Thumbs.db
*.iml
coverage/
npm-debug.log*
yarn-error.log*
.vscode/
local.properties
*.apk
*.aab
